  
<!DOCTYPE html>
<html>
  <body>
<<<<<<< HEAD
    <h1>Articles</h1>
    <% @articles.each do |a| %>
      <strong><%= a.title %></strong><br />
      <%= a.content %>
=======
    <h1>Posts</h1>
    <% @posts.each do |post| %>
      <strong><%= post.name %></strong><br />
      <%= post.content %>
>>>>>>> 0c98772eac485f5842855b2128d3df6b4900ed63
      <br /><br />
    <% end %>
  </body>
</html>