<!DOCTYPE html>
<html>
  <body>
<<<<<<< HEAD
    <form action='/articles' method="POST">
      <label for "title">Title:</label>
      <input type="text" id="title" name="title">
=======
    <form action='/posts' method="POST">
      <label for "name">Name:</label>
      <input type="text" id="name" name="name">
>>>>>>> 0c98772eac485f5842855b2128d3df6b4900ed63
      <br />
      <label for "content">Content:</label>
      <input type="text" id="content" name="content">
      <br />
      <input type="submit" value="submit" id="submit">
    </form>
  </body>
</html>